
@font-face{
    font-family: 'roboto';
    src: url(../fonts/roboto/roboto-regular.ttf);     
}
@font-face{
    font-family: 'montserrat';
    src: url(../fonts/montserrat/montserrat-regular.ttf);     
}
@font-face{
    font-family: 'montserrat-ultralight';
    src: url(../fonts/montserrat/montserrat-thin.ttf);     
}
@font-face{
    font-family: 'montserrat-light';
    src: url(../fonts/montserrat/montserrat-light.ttf);     
}
@font-face{
    font-family: 'raleway-light';
    src: url(../fonts/raleway/raleway-light.ttf); 
}
@font-face{
    font-family: 'raleway';
    src: url(../fonts/raleway/raleway-regular.ttf); 
}
@font-face{
    font-family: 'raleway-bold';
    src: url(../fonts/raleway/raleway-bold.ttf); 
}
@font-face{
    font-family: 'raleway-semibold';
    src: url(../fonts/raleway/raleway-semibold.ttf); 
}
@font-face{
    font-family: 'raleway-extrabold';
     src: url(../fonts/raleway/raleway-extrabold.ttf);  
}

body{
    width: 1920px;
    margin: 0 auto;
}
.main-slidedeck{
    background: url(../img/photo.png);
    background-color:rgba(0,0,0,0.6);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 1024px;
    position: relative;
    box-sizing: border-box;
    padding: 40px;
}
.main-header{
    width: 100%;
    min-height:100px;
    background-color: transparent;
}
.link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  text-decoration: none;
  background-color: transparent;
  margin: 0 0 0 336px;
}

.link-logo-svg {
  fill: #fff;
}

.link-logo-txt {
  color: #fff;
  font-size: 28px;
  font-family: 'raleway' , 'arial';
}

.link-logo:hover .link-logo-svg {
  fill: #c7b299;
}

.link-logo:hover .link-logo-txt {
  color: #c7b299;
}

.link-logo:active .link-logo-svg {
  fill: #fff;
}

.link-logo:active .link-logo-txt {
  color: #fff;
}
label, #main-header-menu-list{
    display: none;
}
.main-header-menu-list{
    list-style-type: none;
    max-width: 680px;
    margin: 0 ;
    padding: 0;
    position: absolute;
    left: 736px;
    top: 62px;
}
.main-header-menu-link{
    text-decoration: none;
}
.header-menu-list-item{
color: #ffffff;
font-family: 'montserrat', 'arial';
font-size: 14px;
font-weight: 300;
display: inline-block;
margin: 0 30px 0 0;
}
.header-menu-list-item:hover,.header-menu-list-item:active{
    color: #c7b299;
}
.header-menu-backet{
    display: block;
    width: 18px;
    height: 24px;
    position: absolute;
    left: 1450px;
    top:60px;
}
.header-menu-search{
    width: 24px;
    min-height: 24px;
    position: absolute;
    background-color: transparent;
    top:50px;
    left:1510px;
    cursor:pointer;
    border: none;
    outline: none;
    padding: 0;
}

.menu-icon{
  fill:#fff;  
}
.menu-icon:hover,.menu-icon:active{
   fill:#c7b299; 
}
button[type="submit"]{
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    left:1510px;
    top:60px;
}
button[type="submit"]:focus{
    outline: none;
}
.header-menu-search:focus{
    width: 200px;
    height: 29px;
    top: 100px;
    border:1px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-family:"raleway", 'arial';
    padding-left: 5px;
}
.main-slidedeck-title{
    max-width: 590px;
    min-height: 250px;
    left: 665px;
    position: absolute;
    top: 381px; 
}
.main-slidedeck-title1{
 color: #ffffff;
 font-family: 'raleway','arial';
 font-size: 36px;
 font-weight: 500;
 margin: 0;
 padding: 0;
 text-align: center;
}
.main-slidedeck-title2{
 color: #ffffff;
 font-family: 'raleway-extrabold','arial';
 font-weight: 400;
 font-size: 52px;
 margin: 0;
 padding: 5px 0 0 0;
 text-align: center;   
}
.main-slidedeck-title-text{
 margin: 0;
 padding: 5px 7px 52px 7px;
 color: #ffffff;
 font-family: "montserrat", 'arial';
 font-size: 16px;
 font-weight: 300;
 line-height: 24px;
 text-align: center;
    
}
.main-slidedeck-button{
display: block;
width: 170px;
min-height: 48px;
border-radius:5px;
background-color: #998675; 
border-bottom: 5px solid #736357;    
margin: 0 auto ;  
cursor: pointer;
color: #ffffff;
font-family: "raleway-bold", 'arial';
font-weight: 400;
font-size: 14px;
line-height: 48px;
text-transform: uppercase;
text-align: center;
text-decoration: none; 
}
.main-slidedeck-button:hover{
 background-color: #fff;
 color:#998675;
 }
.main-slidedeck-button:active{
 background-color: #998675;
 color: #ffffff;
}
.main-slidedeck-arrow-right{
    display: block;
    width: 60px;
    min-height: 93px;
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    left: 1720px;
    top: 465px;
}
.main-slidedeck-arrow-left{
   display: block;
    width: 60px;
    min-height: 93px;
    background-image: url(../img/left.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    top: 465px;
    left: 140px;
}
.main-slidedeck-arrow-left:hover,.main-slidedeck-arrow-right:hover,.main-slidedeck-arrow-left:active,.main-slidedeck-arrow-right:active {
   background-color:rgba(0,0,0,0.3);   
}
.main-slidedeck-circles{
 width: 120px;
 position: absolute;
  display: flex;
  justify-content: center;
  background-color: transparent;
  left: 909px;
  top: 971px;
} 
.main-slidedeck-circle{
 display: block;
  width: 10px;
  min-height: 10px;
  margin: 0 10px 0 0;
  background-color: #8e8e8e;
  border-radius: 100%;
  border: 2px solid transparent;
}
.main-slidedeck-circle:hover {
  border: 2px solid #8e8e8e;
  background-color: transparent;
  transform: scale(1.3);   
}
#features{
    width: 100%;
    padding:80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
#features:after:{
    content: "";
    width: 100%;
}
.features-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 266px;
  margin: 0 33px 0 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}   
.features-element:after {
  content: "";
  display: block;
  max-width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.features-element:hover .features-icon {
  fill: #c8b39b;
}

.features-element:hover .features-title {
  color: #c8b39b;
}

.features-element:hover:after {
  background-color: #c8b39b;
}

.features-icon {
  display: block;
  fill: #555555;
  margin: 0 0 29px 0;
}

.features-title {
  width: 100%;
  margin: 0 0 19px 0;
  text-align: center;
  color: #555555;
  font-family: "raleway-bold", 'areal';
  font-weight: 400;
  font-size: 22px;  
}

.features-txt {
  margin: 0 0 30px 0;
  text-align: center;
  color: #8c8c8c;
  font-family: "montserrat-light", 'areal';
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
}
.features-ideas{
    width: 100%;
    background-color: #fbfaf8;
    text-align: center;
    padding: 80px 0 0 0;
    position: relative;
    
}
.features-ideas-title{
margin: 0 0 24px 0;
color: #555555;
font-family: "raleway-semibold", 'areal';
font-weight: 400;
font-size: 30px;  
}
.features-ideas-text{
max-width: 757px;
margin: 0 0 40px 580px;
color: #8c8c8c;
font-family: 'montserrat-light', 'areal';
font-weight: 300;
font-size: 15px;
line-height: 28px;
}
.features-ideas-img{
    max-width:1230px;
    position: relative;
    min-height: 482px;
    margin: 0 auto;
    background-image: url('../img/browser-center.png'),
                      url('../img/browser-left.png'),
                      url('../img/browser-right.png');
    background-size: 770px 482px, 770px 400px, 770px 400px;
    background-repeat: no-repeat;
    background-position: center, left bottom,right bottom;  
}
.advertising{
    width: 100%;
    padding: 48px 0;
    background-color: #f4f5f8;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.advertising-title{
    margin: 0 470px 8px 376px;
    color: #ffffff;
    font-family: 'raleway', "areal";
    font-weight: 400;
    font-size: 28px;
    float: left;
}
.advertising-title-1world{
color: #c7b299;
}
.advertising-text{
    margin: 0 544px 0 376px;
    color: #615855;
    font-family: 'montserrat-light', 'areal';
    font-weight: 300;
    font-size: 18px;
    clear: both;
    float: left
}
.advertising-buttom{
    display: flex;
    width: 170px;
    min-height: 50px;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    justify-content: center;
    align-items: center;
}
.advertising-buttom-legend{
    display: block;
    color: #ffffff;
    font-family: 'raleway-extrabold', 'areal';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    justify-content: center;
}
.advertising-buttom:hover{
    background-color: #fff;
}
.advertising-buttom:active{
  background-color:#736357;  
}
.advertising-buttom-legend:hover{
   color:#736357;  
}
.advertising-buttom-legend:active{
    color: #fff;
}
.latest-projects{
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.latest-projects-articles{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}
.latest-projects-title{
    margin: 0 0 24px 0;
    color: #555555;
    font-family: "raleway-semibold", "arial";
    font-size: 30px;
    font-weight: 400;
}
.latest-projects-text{
    margin: 0 0 50px 0;
    max-width: 780px;
    color: #8c8c8c;
    font-family: "montserrat", "areal";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.latest-projects-button{
    min-height: 32px;
    padding: 10px 24px;
    margin: 0 5px 25px 0;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-family: "montserrat", "areal";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    cursor: pointer;
}
.latest-projects-button:hover{
    background-color: #998675;
    color: #fff;
}
.latest-projects-button:active{
   background-color:#fff;
   color:#998675;
}
.latest-projects-button:focus{
    outline: 0;
}
.latest-projects-article {
  max-width: 370px;
  display: block;
  position: relative;
  cursor: pointer;
  margin:15px;
  text-decoration: none;
}

.latest-projects-article:hover .article-btn-link {
  display: block;   
}

.latest-projects-article:hover .article-btn-search {
  display: block;
}

.latest-projects-article:hover .article-btn-link:hover {
  background-color: #998675;
  
}

.latest-projects-article:hover .article-btn-search:hover {
  background-color:#998675;
}

.latest-projects-article:hover .article-photo {
  filter: brightness(20%);
}

.latest-projects-article:hover .article-txt-wrapper {
 background-color: #362f2d;
}

.latest-projects-article:hover .article-txt-wrapper:before {
  border-bottom: 10px solid #362f2d;
}
.latest-projects-article:hover .article-title{
    color: #fff;
}
.latest-projects-article:hover .article-txt{
    color:#c7b299;
}
.article-photo {
  display: block;
  width: 100%;
}

.article-txt-wrapper {
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    background-color: #fbfaf8;
}

.article-txt-wrapper:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.article-title {
  display: block;
  text-align: left;
  padding: 28px 0 10px 28px;
  color: #c7b299;
  font-family: "raleway","areal";
  font-size: 20px;
  font-weight: 500;  
}

.article-txt {
  display: block;
  text-align: left;
  padding: 0 0 27px 28px;
  color: #d1d1d1;
  font-family: "montserrat", "areal";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px; 
}

.article-btn-link,
.article-btn-search {
  width: 30px;
  height: 30px;
  display: none;
  -webkit-background-size: cover;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30%;
}

.article-btn-link {
  background-image: url(../img/link.svg);
  left: 144px;
  cursor:pointer;  
}

.article-btn-search {
  background-image: url(../img/lupa.svg);
  right: 144px;
  cursor:pointer;
}
.article-btn-more{
padding: 18px 45px;  
color: #ffffff;
font-family: 'raleway-extrabold', "areal";
font-size: 14px;
font-weight: 400;
line-height: 23px;
text-transform: uppercase;
border-bottom: 4px solid #34261f;
border-radius: 5px;
background-color: #998675;
 cursor: pointer;
}
.article-btn-more:hover,.article-btn-more:active{
    color: #998675;
    background-color: #fff;
}
.article-btn-more:focus{
    outline: 0;
}
#video{
    width: 100%;
   min-height: 705px;
}
.video{
    width: 100%;
    min-height: 705px;
    position: relative;
}
.video-legend{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:570px;
    align-items: center;
    top: 340px;
    left: 685px;
}
.video:before{
    content: "";
    background-color:rgba(0,0,0,0.3);
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}
.video-iconplay{
    width: 100px;
    min-height:100px;
    border-radius: 50%;
    background-color: transparent;
    background-color:rgba(0,0,0,0.2);
    background-image: url(../img/icon-play.svg); 
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    margin: 0;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 920px;
    top:200px;
}
.video-iconplay--hide{
    display: none;
}
.video-iconplay:active{
    display: none;
}
.video-iconplay:hover{
    background-color: #333;
}
.video-iconplay:focus{
    outline: 0;
}
.video-legend-title{
    display: block;
    color: #ffffff;
    font-family: "raleway", "areal";
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 29px 0;
}
.video-legend-text{
    margin: 0 0 36px 0;
    color: #ffffff;
    font-family: "montserrat", "areal";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.video-legend-time{
    display: block;
    color: #c7b299;
    font-family: "montserrat", 'areal';
    font-size: 14px;
    font-weight: 400;
   line-height: 24px;
}
.mobile-devices{
    width: 100%;
    background-color: #fdfaf8;
    display: flex;
    flex-direction: row;
    padding: 80px 0 0 423px;
    box-sizing: border-box;
}
.mobile-devices-img{
    display: block;
}
.mobile-devices-discription{
    max-width: 673px;
    padding: 115px 0 0 29px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.mobile-devices-title{
    margin: 0 0 40px 0;
    color: #555555;
    font-family: "raleway-semibold", "areal";
    font-size: 30px;
    font-weight: 400;
}
.mobile-devices-text{
    margin: 0 0 45px 0;
    color: #8c8c8c;
    font-family: "montserrat", "areal";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.mobile-devices-list{
    margin: 0 0 0 50px;
    list-style-type: none;
    display: block;
}
.mobile-devices-item{
color: #8c8c8c;
font-family: "montserrat", "areal";
font-size: 16px;
font-weight: 300;
line-height: 32px; 
}
.mobile-devices-item:before{
    content: ">";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c7b299;
    position: absolute;
    left: 75px;
    margin-top: 4px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    font-family: "raleway", "areal";
}
.statictics{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 59px 0 50px 0;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    justify-content: center;
    box-sizing: border-box;
}

.statictics-element{
    width: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 26px;
}
.statictics-icon{
    fill:#c7b299;
    margin: 0 0 28px 0;
}
.statictics-number{
    margin: 0 0 15px 0;
    color: #ffffff;
    font-family: "montserrat-ultralight", "areal";
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
}
.statictics-txt{
    margin: 0 0 30px 0;
    color: #c7b299;
    font-family: "montserrat", "areal";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}
.statictics-element:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f1eee9;
}
.statictics-element:hover{
    background-color:#c8b39b; 
}
.statictics-element:hover .statictics-icon{
    fill:#231b19;
}
.statictics-element:hover .statictics-number {
  color: #211b19;
  font-weight: 600;
}

.statictics-element:hover .statictics-txt{
    color: #4b3226;
    font-weight: 600;
}
.statictics-element:hover:after {
  background-color: #231b19;
}
.posts{
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts-title{
    margin: 0 0 30px 0;
    text-align: center;
    color: #555555;
    font-family: "raleway-semibold", "arel";
    font-size: 30px;
    font-weight: 400;
}
.posts-description{
    max-width: 780px;
    margin: 0 0 40px 0;
    text-align: center;
    color: #8c8c8c;
    font-family: "montserrat", "areal";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.article-posts{
    display: flex;
    flex-wrap: wrap;
}
.article-post{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 15px 40px 15px;
}
.article-post-img{
    display: block;
}
.article-post-description{
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.article-post-title{
    margin: 0 0 19px 0;
    color: #555555;
    font-family: "raleway", "areal";
    font-size: 20px;
    font-weight: 500;
}
.article-post-text{
    margin: 0 0 27px 0;
    color: #8c8c8c;
    font-family: "montserrat", "areal";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.article-post-link{
    text-decoration: none;
    color: #c7b299;
    font-family: "montserrat", "areal";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.article-post-link:after{
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 148px;
    left: 120px;
}
.article-post-date{
 width: 50px;
 display: block;  
 color: #ffffff;
 font-family: "montserrat", "areal";
 font-size: 24px;
 font-weight: 300;
 line-height: 20px;
 padding: 10px;
 background-color: #363636;
 border-radius: 3px 3px 0 0;
 box-sizing: border-box;
 position: absolute;
 left: 20px;
 top:20px;
}
.article-post-month{
    width: 50px;
    min-height: 25px;
    display: block;
    background-color: #252525;
    color: #ffffff;
    font-family: "roboto", "areal";
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 55px;
    left: 20px;
}
.article-post:hover .article-post-month{
    background-color: #a48d72;
}
.article-post:hover .article-post-date{
    background-color: #c7b299;
}
.article-post:hover .article-post-img{
    filter: brightness(25%);
}
.article-post:hover .article-post-description{
    background-color: #362f2d;
}
.article-post:hover .article-post-title{
    color: #c7b299;
}
.article-post:hover .article-post-text{
    color: #fff;
}
.posts-bth{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 5px 0 0;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}
.posts-bth-icon{
   fill:#d1d1d1;
   display: block; 
}
.posts-bth-icon:hover, .posts-bth-icon:active {
  fill:#c7b299; 
}
.posts-bths{
    display: inline;
}
.sponsors{
    width: 100%;
    background-image: url('../img/photo(12).png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 140px;
    align-items: center;
    background-blend-mode:darken;
    background-color: #424245;
    box-sizing: border-box;
}
.sponsor-item{
    margin: 0 45px;
    display: block;
   background-color: transparent;
}
.sponsor-link{
    text-decoration-style: none;
}
.sponsor-item:hover,.sponsor-item:active{
    outline: 1px solid #c7b299;
}
.contacts{
    width: 100%;
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    box-sizing: border-box;
    justify-content: center;
}
.contacts-column{
    display: flex;
    flex-direction: column;
    width: 270px;
    position: relative;
    margin: 0 21px;
}
.contacts-logo{
    display: flex;
    flex-direction: row;
    width: 258px;
    align-items: center;
    margin: 0 0 29px 0;
}
.contacts-textcolumn{
    margin: 0 0 33px 0;
    color: #555555;
    font-family: "montserrat", "areal";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.contacts-link-more{
   text-decoration: none;
   color: #d1d1d1;
   font-family: "montserrat", "areal";
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   display: block;
}
.contacts-link-more:after{
    content: "";
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    top:291px;
    left:85px;
}
.contacts-link-more:hover,.contacts-link-more:active {
    color: #c7b299;
}
.contacts-link-more:hover::after{
   border-left:5px solid  #c7b299; 
}
.column-name{
margin: 0;
padding: 18px 0 18px 0;
color: #ffffff;
font-family: "raleway", "areal";
font-size: 24px;
font-weight: 700; 
}
.post-date:before{
content: "September 08, 2015";
display: block;  
color: #363636;
font-family: "montserrat", "areal";
font-size: 12px;
font-weight: 300;
line-height: 20px;
}
.post-date{
    padding: 15px 0 15px 0;
    margin: 0;
    border-bottom: 1px solid #363636;
}
.post-date:last-child{
    border: none;
}
.post-date:hover{
    color: #c7b299;
}
.post-date:hover::before{
    color: #fff;
}
.twitter-link{
  text-decoration: none;
    color: #00bff3;
}
.twitter-time-ago:after{
    content: "3 mins ago";
    display: block;
    color: #363636;
    font-family: "montserrat", "areal";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.twitter-time-ago{
    padding: 14px 0 17px;
    border-bottom: 1px solid #363636;
    margin: 0;
}
.time-two:after{
    content: "5 hours ago";
    
}
.twittertext{
    color: #959595;
}
.time-three:after{
    content: "20 days ago";
}
.twitter-time-ago:last-child{
    border: none;
}
.twitter-time-ago:hover{
   color: #c7b299; 
}
.twitter-time-ago:hover::after{
    color: #fff;
}
.contacts-widget{
    display: flex;
    flex-wrap: wrap;
    padding: 14px 0 0 0;
}
.img-widget{
    display: block;
    margin: 5px 10px 5px 0;
}
.img-widget:last-child {
    margin:5px 0; 
}
.img-widget:nth-child(2){
    margin: 5px 0;
} 
.img-widget:hover{
    outline: 1px solid #00bff3; 
}
footer{    
    width: 100%;
    background-color: #111111;
    padding: 45px 376px 50px 376px;
    box-sizing: border-box;
}
.footer-text{
 border-right: 1px solid #252525;   
color: #555555;
font-family: "montserrat", "areal";
font-size: 13px;
font-weight: 300;
line-height: 20px;
}
.waxom{
   color: #959595;
   border-right: 1px solid #252525;
}
.FAQ{
  color: #c7b299;
  border-right: 1px solid #252525;
  font-family: "montserrat", "areal";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;  
}
.footer-text:last-child{
    border: none;
}
.text-right{
    text-align: right;
}
.text-left{
    float: left;
}
.waxom:last-child{
    border: none;
}
@media (max-width:480px){
    
    body{
        max-width: 480px;
        margin: 0 auto;
    }
    .main-slidedeck{
    background-size: cover;
    padding: 50px 0;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;    
    }
    .main-header{
        min-height: 50px;
    }
    .link-logo{
        margin: 0;
        left:50px;
        position: absolute;
    }
    label{
        display: block;
        max-width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 10%;
        float: right;
        position: absolute;
        background: url(../img/menu.svg);
        background-repeat: no-repeat;
        top: 50px;
        left: 376px;
    }
    #main-header-menu-list{
     position: absolute;
     top:100px;
     left: 380px;
    }
    .main-header-menu-list{
        top: 150px;
        left:0;
        position: absolute;
        display: flex;
        visibility: hidden;
        margin: 0 auto;
        height: 0px;
        width: 100%;
        flex-direction: column;
    }
   
     
    .header-menu-list-item{
        display: block;
        height: 20px;
        text-align: center;
        background-color: #959595;
        margin: 2px 0 0 0;
        color: #252525;
        padding:10px 0;
        font-weight: 600;
        width: 100%;
    }
    input[type="checkbox"]:checked ~ .main-header-menu-list{
        visibility: visible;
    }
    .header-menu-backet, .main-header-menu-search, .main-slidedeck-title, .main-slidedeck-arrow-right, .main-slidedeck-arrow-left, .main-slidedeck-circles{
       display: none;
    }
    #features{
        padding: 40px 0;
        justify-content: space-around;
    }
    .features-element{
        margin:  0 0 30px 0;
        padding: 0;
        max-width: 200px;
    }
    .features-icon{
        margin: 0 0 20px 0;
    }
    .features-txt{
        margin: 0 0 20px 0;
    }
    .features-ideas{
        padding: 40px 10px;
        box-sizing: border-box;
    }
    .features-ideas-title{
        max-width: 460px;
        font-size: 28px;
        
    }
    .features-ideas-text{
        margin: 0 0 20px 0;
        max-width: 460px;
    }
    .features-ideas-img{
        max-width: 460px;
        min-height: 160px;
        background-size: 220px 160px, 220px 133px, 220px 133px;
    }
    .advertising{
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .advertising-title{
        margin: 0 0 20px 0;
        font-size: 23px;
    }
    .advertising-text{
        margin: 0 0 20px 0;
        text-align: center;
        font-weight: 400;
        font-family: "montserrat", "areal";
        font-size: 16px;
        max-width: 280px;
    }
    .advertising-buttom{
        width: 150px;
        min-height: 40px;
    }
    .latest-projects{
        padding: 40px 10px 40px 10px;
        box-sizing: border-box;
    }
    .latest-projects-text{
        max-width: 460px;
        font-size: 14px;
        margin: 0 0 25px 0;
    }
    .latest-projects-button{
       border: 1px solid #8e8a81;
        color:#32281e;
    }
    .latest-projects-articles{
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .article-posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .article-title{
        color:#b68b78;
    }
    .article-txt{
        color: #8c8c8c;
    }
    .article-btn-more{
      width: 150px;
      min-height: 50px;
      padding: 0;
    }
    .video{
        min-height: 500px;
    }
    .video-legend{
        top: 225px;
        left: 90px;
        width: 62%
    }
    .video-legend-title{
        font-size: 23px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }
    .video-legend-text{
        font-size:12px;
        line-height: normal;
        margin: 0 0 5px 0;
        letter-spacing: 0.1;
    }
    .video-legend-time{
        font-size: 10px;
    }
    #video{
        width: 100%;
        min-height: 500px;
        object-fit:cover;
    }
    
    .video-iconplay{
        top: 155px;
        left: 215px;
        width: 60px;
        min-height: 60px;
        background-size: 50px 50px;
    }
    .mobile-devices{
        padding: 40px 10px;
        flex-direction: column;
        position: relative;
        min-height:560px;
        
    }
    .mobile-devices-img{
        width: 50%;
        height: 290px;
        position: absolute;
        top:230px;
    }
    .mobile-devices-discription{
        padding: 0px;
        max-width: 460px;
    }
    .mobile-devices-title{
        text-align: center;
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .mobile-devices-text{
        margin: 0 0 15px 0;
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
    }
    .mobile-devices-list{
        margin: 0 0 0 50%;
    }
    .mobile-devices-item{
      font-size: 12px;
      line-height: 22px;  
    }
    .mobile-devices-item:before{
     left:240px;   
    }
    .statictics{
        padding: 20px 10px;
        box-sizing: border-box;
    }
    .statictics-element{
        padding: 20px 20px;
        margin: 0;
        
    }
    .statictics-txt{
        margin: 0 0 20px 0;
    }
    .posts{
        padding: 40px 10px;
        box-sizing: border-box;
    }
    .posts-title{
        margin: 0 0 15px 0;
        font-size: 28px;
    }
    .posts-description{
        max-width: 460px;
        font-size: 12px;
        margin: 0 0 20px 0;
    }
    .sponsors{
        padding: 40px 10px 25px 10px;
        margin: 0;
        background-size: cover;
        box-sizing: border-box;
        
    }
    .sponsor-item{
        margin: 0 20px 10px 20px;
        max-width: 150px;
        min-height: 100px;
        height: auto;
    }
    .contacts{
        padding: 35px 0px;
        box-sizing: border-box;
    }
    .contacts-column{
        max-width: 220px;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .contacts-textcolumn{
        font-size: 12px;
        margin: 0;
    }
    
    .contacts-link-more{
        padding: 10px 0;
    }
    .contacts-link-more:after{
        top:269px;
        left: 90px;
    }
    .img-widget{
        max-width: 105px;
    }
    footer{
        margin: 0;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-text{
        font-size: 10px;
    }
    .text-right, .text-left{
        margin: 0 0 10px 0;
        text-align: center;  
    }
}
